
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#F6F2FF;
}

html.dark body{
    background:#100034;
}

.error-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:24px;

}

.error-container{

    width:100%;

    max-width:436px;

    min-height:442px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;
}

.error-number{

    width:308px;

    height:178px;

    font-size:128px;

    font-weight:300;

    line-height:120px;

    font-family:'Inter',sans-serif;

    background:linear-gradient(
        180deg,
        #FACC15 31.25%,
        #D946EF 49.04%,
        #8B5CF6 65.87%
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;

}

.error-image{

    width:218px;

    height:183px;

    object-fit:contain;

    margin-top:6px;

}

.error-title{

   margin-top:18px;

    font-size:40px;

    font-weight:600;

    line-height:1.2;

    color:#111827;

}

html.dark .error-title{

    color:#ffffff;

}

.error-text{

     margin-top:8px;

    font-size:30px;

    font-weight:400;

    line-height:1.4;

    color:#111827;

}

html.dark .error-text{

    color:#ffffff;

}


@media (max-width:768px){

.error-container{

      width:100%;

    max-width:390px;

    min-height:auto;

}

.error-number{

    width:auto;

    height:auto;

    font-size:64px;

    line-height:70px;

}

.error-image{

   width:110px;

    height:auto;

    margin-top:8px;
   

}

.error-title{

    margin-top:18px;

    font-size:24px;

    line-height:34px;

}

.error-text{

    margin-top:8px;

    font-size:20px;

    line-height:34px;

}

}