body{
  padding: 0px;
}

.BackGround{
<<<<<<< HEAD
    background-image: var(--login-bg);
=======
    background-image: url(assets/background_login.png);
>>>>>>> 296be55362806e7e853501d1b07d10bd2b574b42
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 100px;
    padding-top: 50px;
}

.login{
    box-shadow: 0px 0px 27px 10px #574C8B;
}

:global(input::-ms-reveal) {
  display: none;
}

:global(input::-ms-clear) {
  display: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 296be55362806e7e853501d1b07d10bd2b574b42
